/* src/components/nav_bar.css */

.navbar {
  position: relative;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 30px;
  background-color: black; /* Blue background color for the navbar */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-title {
  position: relative;
  top:11px ;
  bottom: 3px;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff; /* White text color */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 8px; /* Space between icon and text */
  color: #ffffff; /* White icon color */
}

.navbar-links {
  position: relative;
  top: 9px;
  display: flex;
  gap: 20px; /* Space between links */
}

.navbar-links a {
  color: #ffffff; /* White text color */
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s; /* Smooth transition for hover effect */
  font-weight: bold;
}

.navbar-links a:hover {
  color: #ffcc00; /* Yellow color on hover */
}
